<%- include ('partials/header.ejs') %>


  <body>
    <div class="center-vertical-horizontal">
      <span class="home-page-title">
        To Do List
      </span>
      <a href="/register" class="btn home-page-btn">register</a>
      <a href="/login" class="btn home-page-btn">login</a>

    </div>
    


  </body>

<%- include ('partials/footer.ejs') %>