<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Todo List</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/819258191a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css" />
  </head>


  <body>
      <div class="register-page">
        <form action="/register" method="POST">
          <input type="text" placeholder="username" name="username" required/>
          <input type="password" placeholder="password" name="password" required/>
          <button type="submit">register</button>
        </form>
      </div>
  </body>

  <footer>
    <p>Made with ❤️ by Ho Minh Nguyen</p>
  </footer>
</html>