<%- include ('partials/header.ejs') %>

<body>
<div class="container-login">
  <div class="login-page center-vertical-horizontal">
    <span class="login-page-title">
      Account Register
    </span>
    <form class="login-form" action="/register" method="POST">
      <div class="wrap-login-input">
        <span class="lnr lnr-user"></span>
        <input class="login-input" type="text" placeholder="User name" name="username" required />
      </div>

      <div class="wrap-login-input">
        <span class="lnr lnr-lock"></span>
        <input class="login-input" type="password" placeholder="Password" name="password" required />
      </div>
      
      <button type="submit">Sign Up</button>
    </form>
  </div>
</div>
  

</body>

<%- include ('partials/footer.ejs') %>