html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  /* bottom = footer height */
  padding: 0px;
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #d38ba4;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  margin-right: 20px
}

button:hover {
  background-color: black;
}


footer {
	position: absolute;
	text-align: center;
  bottom: 0;
  left: 0;
	width: 100%;
	height: 60px;
	background-color: #d38ba4;
}

footer p {
	margin-top: 20px;
	font-size: 14px;
  color: #fff;
}

label {
  display: inline;
}

input[type="checkbox"] {
  margin: 20px 5px 0 0;
}


input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  font-size: 20px;
  font-weight: 200;
  width: 200px;
  max-height: 200px;
  overflow: auto;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #888888;
}

ul {
  list-style-type:none;
  margin-bottom: 0;
  padding-left: 20px;
}

.box {
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  background-color: white;
  display: inline-block;
  margin: 20px 20px 30px;
  overflow-wrap: break-word;
  vertical-align: top;
  width: 350px;
  
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
  }

.head-box {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  text-align: center;
  border-bottom: 1px solid #888888;
}

::placeholder {
  color: grey;
  opacity: 1;
}

.new-list-form {
  border: 1px solid;
  border-radius: 5px;
  background-color: white;
  display: block;
  margin: 100px auto 70px;
  text-align: center;
  width: 300px;
}

.item p {
  display: inline-block;
}