html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  /* bottom = footer height */
  padding: 0px;
  background: #797a7e;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

button:hover {
  background-color: black;
  color: white;
}


footer {
	position: absolute;
	text-align: center;
  bottom: 0;
  left: 0;
	width: 100%;
	height: 60px;
	background-color: #5eaaa8;
}

footer p {
	margin-top: 20px;
	font-size: 14px;
  color: #fff;
}

label {
  display: inline;
}

input[type="checkbox"] {
  margin: 20px 5px 0 0;
}


input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="text"] {
  text-align: center;
  top: 10px;
  border: none;
  height: 60px;
  font-size: 20px;
  font-weight: 200;
  max-height: 200px;
  width: 250px;
  overflow: auto;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #888888;
  text-align: left;
}

input[type="password"] {
  border: none;
  
}

input[type="password"]:focus {
  outline: none; 
}

input:focus::-webkit-input-placeholder { color:transparent; }

ul {
  list-style-type:none;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.add-button {
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #5eaaa8;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

.add-item-form {
  border-top: 1px solid #888888;
  margin: 20px 0 5px;
  padding-top: 5px;
}


.box {
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  background-color: white;
  display: inline-block;
  font-size: 20px;
  margin: 20px 20px 30px;
  overflow-wrap: break-word;
  vertical-align: top;
  width: 350px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.center-vertical-horizontal {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.delete-button {
  border-radius: 5px;
  border: none;
  background-color: #5eaaa8;
  color: #fff;
  height: 25px;
  width: 25px;
  font-size: 8pt;
  text-align: center;
  position:absolute;
  top:0;
  right:0;
} 

.head-box {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  text-align: center;
  border-bottom: 1px solid #888888;
  position: relative;
}

::placeholder {
  color: grey;
  opacity: 1;
}

.lnr {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 15px;
}

.login-input {
  width: 280px !important;
  height: 60px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

input.login-input {
  color: #555555;
  text-align: left;
  font-size: 20px;
}

input.login-input:valid {
  text-align: left;
}

input.login-input:focus {
  box-shadow:none;
}
.new-list-form {
  border: 1px solid ;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  background-color: white;
  display: block;
  margin: 100px auto 70px;
  text-align: center;
  width: 350px;
}

.item p {
  display: inline-block;
}

.container-login {
  background-image: none;
}

.login-page {
  
  box-sizing: border-box;
  
  background-color: transparent;
  text-align: center;
  margin: auto;
  width: 400px;
}

.login-page-title {
  background-color: transparent;  
  border: none;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding-bottom: 40px;
}

.wrap-login-input {
  padding: 25px 0;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.login-form {
  border: 1px solid;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.login-form button {
  background: #5eaaa8;
  border: none;
  border-radius: 21px;

  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700; 
  height: 42px;
  margin: 30px auto;
  text-transform: uppercase;
  width: 160px;
  
  
}